#rating-tabs .hide-if-no-js,
#rating-adder {
	display: none;
}

#book-authordiv .tabs-panel,
#illustratordiv .tabs-panel,
#ratingdiv .tabs-panel,
#tagsdiv-reading-level .tabs-panel,
#seriesdiv .tabs-panel {
	padding-bottom: 10px;
}

#book-authordiv .tabs-panel li,
#illustratordiv .tabs-panel li,
#ratingdiv .tabs-panel li,
#tagsdiv-reading-level .tabs-panel li,
#seriesdiv .tabs-panel li {
	float: left;
}
#book-authordiv .tabs-panel li .selectit,
#illustratordiv .tabs-panel li .selectit,
#ratingdiv .tabs-panel li .selectit,
#tagsdiv-reading-level .tabs-panel li .selectit,
#seriesdiv .tabs-panel li .selectit {
	margin-left: 10px;
}
#ratingdiv {
	margin-right: 0;
}
#book-reviews-meta {
	clear: left;
}
#book-reviews-meta .inside {
	padding: 10px auto;
	min-height: 35px;
}
.in-stock-box {
	float: left;
	margin-right: 20px;
}
.awards img {
	max-width: 95%;
}

#menu-posts-book-review .wp-menu-image {
	background: none!important;
}
#menu-posts-book-review .wp-menu-image:before {
	font-family: 'Genericons'!important;
	content: '\f444';
	font-size: 20px;
	position: relative;
	left: 5px;
	top: 4px;
	text-shadow: 1px 1px 0px #eee;
	color: #aaa;
}
#menu-posts-book-review:hover .wp-menu-image:before, .wp-has-current-submenu#menu-posts-book-review .wp-menu-image:before {
	color: #21759b;
}
.wp-has-current-submenu#menu-posts-book-review .wp-menu-image:before {
	text-shadow: 1px 1px 0px #555;
}
div#icon-edit.icon32-posts-book-review {
	background-image: none;
}
div#icon-edit.icon32-posts-book-review:after {
	font-family: 'Genericons'!important;
	content: '\f444';
	color: #555;
	font-size: 32px;
	position: relative;
	top: -5px;
}

#adminmenu #menu-posts-book-review div.wp-menu-image:before {
	font-family: 'Genericons'!important;
	content: '\f444';
	left: 0;
	top: 0;
	text-shadow: none;
}