[submodule "inc/cmb"]
	path = inc/cmb
	url = git@github.com:WebDevStudios/CMB2.git
[submodule "vendor/cmb2"]
	path = vendor/cmb2
	url = git@github.com:CMB2/CMB2.git
[submodule "vendor/extended-cpts"]
	path = vendor/extended-cpts
	url = git@github.com:johnbillion/extended-cpts.git
